*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #2a363b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
main.container{
    background-color: #ff847c;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px ;
}

h1.titulo{
    text-align: center;
    text-transform: capitalize;
}

input{
    height: 50px;
    width: 30px;
    background: #fecea8;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
div.operacoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

label{
    font-weight: bold;
    font-size: 20px;
}
button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    background-color: #e84a5f;
    height: 45px;
    width: 50px;
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}