@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
}

div.quadrado{
    width: 120px;
    height: 120px;
    background-color: brown;
    border-radius: 10px;
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease;
}

body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    gap: 30px;
}

h1{
    font-size: 28px;
}

 div.container{
    display: grid;
    gap: 15px;
}

#mensagem{
    display: flex;
    text-align: center; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:15px; 
}

button{
    padding: 10px;
    border-radius:5px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: background 0.3s ease-in-out
}

button:hover{
    background-color: rgb(45, 45, 45);
    transition: background 0.3s ease-in-out
}

#mensagem-texto{
    text-transform: capitalize;
    color: rgb(204, 22, 22);
    font-weight: bold;
}

